<ul id="spaces">
  <% @spaces.each do |space| %>
  <li>
    Space Name: <%= space.name %>
    Space description: <%= space.description %>
    Space price per night: <%= space.price_per_night %>
  </li>
  <% end %>
</ul>
