<h1>Please add new space details</h1>
<form action="/space/save" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type='text' name='description' placeholder="Description">
  <input type='number' name='price_per_night' placeholder="Price per Night">
  <input type="submit" value="Save">
</form>
