Welcome <%= @current_user.email %>
<br> Spaces <br>
<form action="/space/new">
  <input type="submit" value="Add space">
</form>

<form action="space/host">
  <input type="submit" value="My spaces">
</form>
