<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/favicon.ico">
    <title>RAND-bnb</title>
  </head>
  <a href='/'>
    <img src="../images/logo.jpg">
  </a>


<body>

  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <%= yield %>

</body>
</html>
