<!DOCTYPE html>
<html>

<head>
  <title>RandBNB</title>
</head>

<body>

  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <%= yield %>

</body>
</html>
