<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h3>Please sign in</h3>
  <form id="sign_in" action='/sessions' method="post">
    <input type='email' name='email' placeholder="Email">
    <input type='password' name='password' placeholder="Password">
    <input type='submit' value='Sign in'>
  </form>


</body>
</html>
