<html>

<head>
</head>
<body>
  Please sign up!
    <form id='sign-up' action='/signup' method='POST'>

    <label for="name"> Enter your full name: </label>

    <input type='text' name='name' >

    <label for="email"> Email: </label>

    <input type='email' name='email' >

    <label for="password"> Password: </label>

    <input type='password' name='password' required >

    <input type='submit' value='Sign up'>
</body>
</html>
