<html>

<head>
</head>
<body>
  Please sign up!
    <form id='sign-up' action='/signup' method='POST'>
    <input type='text' name='name' placeholder="Name">
    <input type='email' name='email' placeholder="Email" >
    <input type='password' name='password' required placeholder="Password">
    <input type='submit' value='Sign up'>
</body>
</html>
